<footer class='center'>
  <img src="/images/copter.png" width="26" height="31" />
  <p>Copyright &copy; 2013 NodeCopter Community</p>
  <p>Designed by <a href="http://twitter.com/kilmc">@kilmc</a> and <a href="http://twitter.com/karolinaszczur">@karolinaszczur</a>, developed by <a href="http://twitter.com/nodecopter">@nodecopter</a></p>
</footer>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-3306079-16']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>
