<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="author" content="Tim Koschützki">

  <title>{{ page.title }}</title>

  <link rel="stylesheet" href="/css/webfonts_kit.css" type="text/css" media="screen" charset="utf-8">
  <link rel="stylesheet" href="/css/sod.css" type="text/css" media="screen" charset="utf-8">
</head>
<body>
  <header>
    <div class="logo">
      <a href="/"><h1>Summer of Drones</h1></a>
    </div>
  </header>
