<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="author" content="Tim Koschützki">

  <title>{{ page.title }}</title>

  <link rel="stylesheet" href="/css/webfonts_kit.css" type="text/css" media="screen" charset="utf-8">
  <link rel="stylesheet" href="/css/sod.css" type="text/css" media="screen" charset="utf-8">
</head>
<body>
  <header>
    <div class="logo">
      <a href="/"><h1>Summer of Drones</h1></a>
      <div class="intro">
        <p>The "Summer of Drones" is an epic series of up to 34
        <a href="http://nodecopter.com/">nodecopter</a> events for over <strong>1500 developers</strong> to
        take place in North America and Europe from June - September 2013.</p>

        <p>If you want us to keep you up to date about everything, please leave your email address.</p>

        <form class="form-search" action="http://nodecopter.createsend.com/t/j/s/irhtuj/" method="post" id="subForm">
          <input class="email" placeholder="email@example.com" type="text" class="input-medium search-query" name="cm-irhtuj-irhtuj" id="irhtuj-irhtuj" />
          <input class="btn" type="submit" value="Keep me posted" />
        </form>
      </div>
    </div>
  </header>
