<table class="schedule table table-condensed">
  <tr>
    <th>When</th><th>Where</th><th>Organizers</th>
  </tr>
  <tr>
    <td>June 08</td><td>North America</td><td>-</td>
  </tr>
  <tr>
    <td>June 08</td><td>Europe</td><td>-</td>
  </tr>
  <tr>
    <td>June 15</td><td>North America</td><td>-</td>
  </tr>
  <tr class="taken">
    <td>June 15</td><td>Bergen, Norway</td><td>Raymond Julin</td>
  </tr>
  <tr class="taken">
    <td>June 18/19</td><td>Cologone, Germany</td><td>Frederik Hemberger &amp; Felix Geisendörfer</td>
  </tr>
  <tr>
    <td>June 22</td><td>North America</td><td>-</td>
  </tr>
  <tr>
    <td>June 22</td><td>Europe</td><td>-</td>
  </tr>
  <tr>
    <td>June 29</td><td>North America</td><td>-</td>
  </tr>
  <tr class="taken">
    <td>June 29</td><td>Prague, Czech Republic</td><td>Ladislav Prskavec</td>
  </tr>
  <tr>
    <td>July 06</td><td>North America</td><td>-</td>
  </tr>
  <tr>
    <td>July 06</td><td>Europe</td><td>-</td>
  </tr>
  <tr class="taken">
    <td>July 13</td><td>Savannah, GA</td><td>Will Dent</td>
  </tr>
  <tr>
    <td>July 13</td><td>Europe</td><td>-</td>
  </tr>
  <tr class="taken">
    <td>July 20</td><td>Los Angeles, CA</td><td>Jason Campbe &amp; John Wiseman</td>
  </tr>
  <tr>
    <td>July 20</td><td>Europe</td><td>-</td>
  </tr>
  <tr class="taken">
    <td>July 27</td><td>Detroit, MI <small>(half a drone set)</small></td><td>Brian Mulloy</td>
  </tr>
  <tr class="taken">
    <td>July 27</td><td>Kiev, Ukraine</td><td>Andrey Listochkin</td>
  </tr>
  <tr class="taken">
    <td>July 28</td><td>Richland, WA <small>(half a drone set)</small></td><td>Adam Brault</td>
  </tr>
  <tr>
    <td>August 03</td><td>North America</td><td>-</td>
  </tr>
  <tr>
    <td>August 03</td><td>Europe</td><td>-</td>
  </tr>
  <tr class="taken">
    <td>August 10</td><td>Charleston, SC</td><td>Tom Wilson</td>
  </tr>
  <tr>
    <td>August 10</td><td>Europe</td><td>-</td>
  </tr>
  <tr class="taken">
    <td>August 17</td><td>Minneapolis, MN</td><td>James M. Greene</td>
  </tr>
  <tr>
    <td>August 17</td><td>Europe</td><td>-</td>
  </tr>
  <tr class="taken">
    <td>August 24</td><td>Toronto, Canada</td><td>Marc Pelland &amp; Joshua Kelly</td>
  </tr>
  <tr>
    <td>August 24</td><td>Europe</td><td>-</td>
  </tr>
  <tr>
    <td>August 31</td><td>North America</td><td>-</td>
  </tr>
  <tr class="taken">
    <td>August 31</td><td>Copenhagen, Denmark</td><td>Sebastian Buettrich</td>
  </tr>
  <tr class="taken">
    <td>September 07</td><td>Cincinnati, OH</td><td>Carin Meier</td>
  </tr>
  <tr>
    <td>September 07</td><td>Europe</td><td>-</td>
  </tr>
  <tr>
    <td>September 14</td><td>North America</td><td>-</td>
  </tr>
  <tr>
    <td>September 14</td><td>Europe</td><td>-</td>
  </tr>
  <tr>
    <td>September 21</td><td>North America</td><td>-</td>
  </tr>
  <tr>
    <td>September 21</td><td>Europe</td><td>-</td>
  </tr>
  <tr>
    <td>September 28</td><td>North America</td><td>-</td>
  </tr>
  <tr>
    <td>September 28</td><td>Europe</td><td>-</td>
  </tr>
  <tr class="taken">
    <td>October 4/5</td><td>Lisbon, Portugal</td><td>Samuel Gordalina</td>
  </tr>
</table>
