{% include header.html %}

<a href="https://github.com/nodecopter/summerofdrones.com"><img style="position: absolute; top: 0; right: 0; border: 0; z-index: 10;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>

<section class='container'>
  <div class="row">
    <div class="span3">
      <ul class="nav nav-list affix-top">
        <li><a href="/#about">About</a></li>
        <li><a href="/#attend">Attend an Event</a></li>
        <li><a href="/#organize">Organize an Event</a></li>
        <li><a href="/#press">Press</a></li>
        <li><a href="/#sponsor">Sponsor</a></li>
      </ul>
    </div>
    <div class="span9">
      {{ content }}
    </div>
  </div>
</section>

{% include footer.html %}
